<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新媒体业务部-后台管理</title> 
    <link href="/resource/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/resource/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/resource/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="/resource/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="row">
    <div class="col-md-12">
    	<h1 class="panel-heading">数据展示</h1>
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
			<li><a href="/admin/dashboard/toIndex"><i class="fa fa-home"></i> 首页</a></li>
			<li class="active">数据</li>
		</ul>
        <!--breadcrumbs end -->
    </div>
</div>
<section class="panel">
	<div class="panel-body">
		<div class="row" style="margin-bottom:5px;">
			<div class="col-md-12">
			欢迎使用江苏有线南京分公司 新媒体业务部后台内容发布系统——<b>秦淮老年大学CMS</b>
			</div>
		</div>
	</div>
</section>
<section class="panel">
	<div class="panel-heading dashboard-title">信息统计</div>
	<div class="panel-body">
		<div class="row" style="margin-bottom:5px;">
            <div class="col-md-3">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-red"><i class="fa fa-file-text-o"></i></span>
                    <div class="sm-st-info">
                        <span th:text="${statistics.artCnt}"></span>
                        视频内容数量
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-violet"><i class="fa fa-folder-open-o"></i></span>
                    <div class="sm-st-info">
                        <span th:text="${statistics.catCnt}"></span>
                        栏目内容数量
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-blue"><i class="fa fa-tags"></i></span>
                    <div class="sm-st-info">
                        <span th:text="${statistics.tagCnt}"></span>
                        标签数量
                    </div>
                </div>
            </div> -->
            <div class="col-md-3">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-green"><i class="fa fa-check-square-o"></i></span>
                    <div class="sm-st-info">
                        <span th:text="${statistics.formCnt}"></span>
                        自定义数据表
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>
<section class="panel">
	<div class="panel-heading dashboard-title">
		系统信息
	</div>
	<div class="panel-body">
		<div class="row" style="margin-bottom:5px;">
			<div class="col-md-12">
				<div class="fl" style="padding: 30px 30px 30px 0;">
					<img alt="秦淮老年大学CMS内容管理系统" src="/resource/img/dreamercms-logo.png" width="100">
				</div>
				<div class="fl" style="margin-left:10px;">
					<b>当前系统版本V0.8</b>
					<ul style="line-height: 25px;margin-top: 10px;">
						<li>修复Sql标签注入风险</li>
						<li>修改分页标签、栏目文档标签、SQL标签Bug</li>
						<li>主题包的缩略图支持重新上传</li>
					</ul>
				</div>
				<div class="fl" style="margin-left:20px;">
					<b>开发团队</b>
					<ul style="line-height: 25px;margin-top: 10px;">
						<li>开发成员：<b>唐韬</b></li>
						<li>码云源码网址：<b><a href="https://gitee.com/isoftforce/dreamer_cms" target="_blank" title="新媒体业务部-后台管理">https://gitee.com/isoftforce/dreamer_cms</a></b></li>
						<li>Github源码网址：<b><a href="https://github.com/OrigamiT/elderlyUniversityCMS" target="_blank" title="新媒体业务部-后台管理">https://github.com/OrigamiT/elderlyUniversityCMS</a></b></li>
					</ul>
				</div>
				<div class="clearFix"></div>
			</div>
		</div>
	</div>
</section>
<div class="row" style="margin-bottom:5px;">
<!--<div class="col-md-4">
		<section class="panel">
			<div class="panel-heading dashboard-title">最新文章</div>
			<div class="panel-body" style="height: 300px;">
				<ul class="newest">
					<li th:each="item : ${newest}">
						<a th:text="${item.title}" target="_blank" th:title="${item.title}" th:href="'/article/' + ${item.id}"></a>
					</li>
				</ul>
			</div>
		</section>
	</div> -->
<!--<div class="col-md-4">
		<section class="panel">
			<div class="panel-heading dashboard-title">服务器信息</div>
			<div class="panel-body" style="height: 300px;">
				<p>JAVA版本：<b th:text="${serverInfo.jreVersion}"></b></p>
				<p>JAVA安装路径：<b th:text="${serverInfo.javaPath}"></b></p>
				<p>操作系统名称：<b th:text="${serverInfo.optName}"></b></p>
				<p>操作系统架构：<b th:text="${serverInfo.optFrameWork}"></b></p>
				<p>数据库版本：<b th:text="${serverInfo.dbVersion}"></b></p>
			</div>
		</section>
	</div> 
-->
</div>
<script src="/resource/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/resource/js/bootstrap.min.js"></script>    
</body>
</html>
